#galeria {
    padding: 15px 0;
  }
  
  .slideshow-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.8);
  }
  
  /* Estilo para mostrar el slide activo */
  .slide.active {
    display: block;
  }
  
  /* Estilo para agregar transiciones */
  .slide.fade {
    animation: fade 3s ease-in-out infinite;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  